.tnp-subscription{font-size:13px;display:block;margin:15px
auto;max-width:500px;width:100%}.tnp-subscription div.tnp-field{margin-bottom:10px;border:0;padding:0}.tnp-subscription
label{display:block;color:inherit;font-size:14px;font-weight:700;line-height:normal;padding:5px;margin:0}.tnp-subscription input[type=text], .tnp-subscription input[type=email], .tnp-subscription input[type=submit], .tnp-subscription
select{width:100%;padding:10px;display:block;border:1px;border-color:#ddd;background-color:#f4f4f4;color:#444;font-size:14px;margin:0;line-height:normal}.tnp-subscription input[type=checkbox], .tnp-widget input[type=radio]{width:auto;display:inline}.tnp-subscription select
option{margin-right:10px}.tnp-subscription input.tnp-submit{background-color:#444;color:#fff;width:auto}@media all and (max-width: 480px){.tnp-subscription input[type=submit]{width:100%}}.tnp-profile{font-size:13px}.tnp-profile .tnp-field{margin-bottom:10px;border:0;padding:0}.tnp-profile
label{display:block;color:#333;font-size:14px}.tnp-profile input[type=text], .tnp-profile input[type=email], .tnp-profile input[type=submit], .tnp-profile
select{width:100%;padding:10px;display:block;border:1px;border-color:#ddd;background-color:#f4f4f4;color:#444;font-size:14px;margin:0;line-height:normal}.tnp-profile input[type=checkbox], .tnp-profile input[type=radio]{width:auto;display:inline}.tnp-profile .tnp-list-label{margin-left:15px}.tnp-profile select
option{margin-right:10px}.tnp-profile input[type=submit]{background-color:#444;color:#fff}.tnp-widget{width:100%;display:block}.tnp-widget .tnp-field{margin-bottom:10px;border:0;padding:0}.tnp-widget
label{display:block;color:inherit;font-size:14px}.tnp-widget input[type=text], .tnp-widget input[type=email], .tnp-widget input[type=submit], .tnp-widget
select{width:100%;padding:10px;display:block;border:1px
solid #ddd;border-color:#ddd;background-color:#f4f4f4;color:#444;font-size:14px;line-height:normal}.tnp-widget input[type=checkbox], .tnp-widget input[type=radio]{width:auto;display:inline}.tnp-widget select
option{margin-right:10px}.tnp-widget input.tnp-submit{background-color:#444;color:#fff}.tnp-field input[type="submit"]{position:inherit}.tnp-field
label{}.tnp-widget-minimal{width:100%}.tnp-widget-minimal
form{margin:0;padding:0;border:0}.tnp-widget-minimal input.tnp-email{width:100%;box-sizing:border-box;padding:10px;display:inline-block;border:1px;border-color:#ddd;background-color:#f4f4f4;color:#444;font-size:14px}.tnp-widget-minimal input.tnp-submit{width:100%;box-sizing:border-box;padding:10px;display:inline-block;border:1px;border-color:#ddd;background-color:#444;color:#fff;font-size:14px;line-height:normal;border-radius:0px}.tnp-subscription-minimal{width:100%}.tnp-subscription-minimal
form{margin:0;padding:0;border:0}.tnp-subscription-minimal input.tnp-email{width:70%;max-width:300px;box-sizing:border-box;padding:10px;display:inline-block;border:1px;border-color:#ddd;background-color:#f4f4f4;color:#444;font-size:14px}.tnp-subscription-minimal input.tnp-submit{width:29%;box-sizing:border-box;padding:10px;display:inline-block;border:1px;border-color:#ddd;background-color:#444;color:#fff;font-size:14px}