html {
    overflow-x: hidden
}
body {
    width: 100%
}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-left: 12px;
    padding-right: 12px
}
a {
    text-decoration: none;
    color: #0b87c9
}
.col-xs-12 {
    width: 100%;
    clear: both
}
.col-xs-6,
.col-sm-6,
.col-md-6 {
    width: 50%
}
.col-xs-8,
.col-md-8,
.col-sm-8 {
    width: 66.66%
}
.col-xs-4,
.col-md-4,
.col-sm-4 {
    width: 33.33%
}
.col-md-3,
.col-sm-3 {
    width: 25%
}
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9 {
    float: left;
    box-sizing: border-box
}
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9 {
    float: left;
    box-sizing: border-box
}
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.dropdown-menu {
    box-sizing: border-box
}
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9 {
    float: left;
    box-sizing: border-box
}
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9 {
    float: left;
    box-sizing: border-box
}
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.dropdown-menu {
    float: left
}
.btn-group>.btn-group,
.btn-toolbar .btn-group,
.btn-toolbar .input-group {
    float: left
}
.navbar .navbar-toggle {
    border: 1px solid transparent;
    width: 40px;
    height: 35px;
    line-height: 0;
    padding: 0 0 1px;
    text-align: center
}
.navbar .navbar-toggle .icon-bar {
    display: block;
    background-color: #FFF;
    border-radius: 0;
    width: 24px;
    height: 2px;
    margin-left: 7px;
    margin-top: 4px
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}
h1 {
    line-height: 1.2em;
    margin-top: 0
}
.panel-grid-cell {
    padding-bottom: 20px
}
.pull-right {
    float: right
}
.pull-left {
    float: left
}
.center,
.center div,
.center h1,
.center h2,
.center h3,
.center span,
.center p,
.center ul {
    text-align: center
}
img {
    max-width: 100%;
    height: auto
}
img.alignnone {
    display: inline-block;
    margin: auto
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-clip: padding-box
}
.text-left {
    text-align: left!important
}
.open>.dropdown-menu {
    display: block
}
.no-skin .nav-list>li>a {
    background-color: #f8f8f8;
    color: #585858
}
.dropdown-menu>li> {}.dropdown-menu>li>a {
    font-size: 13px;
    padding-left: 11px;
    padding-right: 11px;
    margin-bottom: 1px;
    margin-top: 1px;
    font-weight: 400;
    clear: both
}
.nav-list {
    margin: 0;
    padding: 0;
    list-style: none
}
.nav-list>li {
    border: #e5e5e5;
    display: block;
    position: relative;
    float: none;
    padding: 0;
    border-style: solid;
    border-width: 1px 0 0
}
.nav-list>li>a {
    display: block;
    height: 21px;
    line-height: 17px;
    padding: 10px 15px 10px 7px;
    text-shadow: none !important;
    font-size: 13px;
    text-decoration: none;
    margin: 0;
    position: relative
}
.nav-list>li:before {
    display: none;
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    z-index: 1;
    height: 41px;
    width: 3px;
    max-width: 3px;
    overflow: hidden;
    background-color: #629cc9
}
.nav-list>li:hover:before {
    display: block
}
.nav-list>li:hover>a {
    background-color: #fff;
    color: #266cad
}
.white {
    color: white
}
p.white,
h2.white {
    color: white!important
}
h1,
h2,
h3,
.h1,
.h2,
.h3 {
    margin-top: 20px;
    margin-bottom: 10px
}
#sidebar h3 {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid #0b87c9
}
.header {
    line-height: 28px
}
.dashboard-title {
    border-bottom: 4px #0b87c9 solid;
    margin-top: 5px;
    padding-bottom: 3px;
    display: inline-block;
    color: #0b87c9
}
.bginfo span,
.web-inner {
    display: block
}
div.device img.prod-img {
    max-width: 100% !important;
    height: auto
}
.web-inner {
    width: 1167px;
    margin: 0 auto;
    padding: 0;
    clear: both
}
.device .bginfo {
    display: block;
    overflow: hidden;
    -ms-opacity: 0;
    opacity: 0;
    background: 0 0;
    min-height: 80%;
    width: 91%;
    text-align: left;
    padding: 10px;
    font-size: 14px;
    color: #fff;
    line-height: 18px;
    position: absolute;
    top: 2px;
    left: 10px;
    z-index: 99;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0)
}
.device div:hover .bginfo {
    background: rgba(0, 0, 0, .85);
    -ms-opacity: 1;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -khtml-opacity: 1
}
body,
div,
h1,
h2,
h3,
h4,
p,
span {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left
}
body,
div,
label,
p {
    font-size: 16px;
    line-height: 24px
}
body {
    color: #3a3a3a;
    margin: 0
}
.main-container:before {
    display: block;
    content: "";
    position: absolute;
    z-index: -2;
    width: 100%;
    max-width: inherit;
    bottom: 0;
    top: 0
}
p {
    margin-top: 10px;
    margin-bottom: 10px
}
#content {
    padding-right: 40px
}
#content {
    padding-top: 10px
}
article {
    padding-bottom: 15px;
    margin-bottom: 40px;
    border-bottom: 1px dashed #bbb
}
h3 {
    font-size: 22px;
    font-weight: 400
}
.sow-icon h3 {
    margin: 10px 0 0 0
}
.sow-headline h4 {
    font-style: italic;
    color: #999
}
.btn {
    display: inline-block;
    color: #FFF!important;
    background-image: none!important;
    border: 1px solid transparent;
    border-radius: 4px !important;
    padding: 9px 14px;
    text-shadow: none !important;
    box-shadow: none !important;
    font-size: 16px;
    transition: all ease .15s;
    cursor: pointer;
    vertical-align: middle;
    margin: 0;
    position: relative
}
.bigger-250 {
    font-size: 250%!important
}
.bigger-200 {
    font-size: 200%!important
}
.bigger-150 {
    font-size: 150%!important
}
.btn-warning,
.btn-warning:focus {
    background-color: #ffb752 !important;
    border-color: #ffb752
}
.btn-inverse,
.btn-inverse:focus {
    background-color: #555!important
}
.btn-sm {
    border-width: 4px;
    font-size: 13px;
    padding: 4px 9px;
    line-height: 1.39
}
small {
    font-size: 80%;
    font-weight: 500
}
.btn-outline,
.btn-outline:focus,
.btn-outline:hover {
    color: inherit;
    background-color: transparent !important;
    border: 1px solid;
    padding: 9px 14px
}
.btn-default.btn-outline {
    border-color: #fff;
    color: #fff
}
.btn-primary.btn-outline {
    border-color: #0b87c9;
    color: #0b87c9 !important
}
.btn-lg {
    padding-top: 12px !important;
    padding-bottom: 12px !important
}
.btn-scroll-up {
    border-width: 0;
    position: fixed;
    right: 2px;
    z-index: 99;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    opacity: 0;
    filter: alpha(opacity=0);
    bottom: -24px;
    visibility: hidden
}
.btn-scroll-up.display {
    border-width: 0;
    position: fixed;
    right: 2px;
    z-index: 99;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    opacity: 1;
    filter: alpha(opacity=1);
    bottom: -24px;
    visibility: visible
}
.btn-scroll-up,
.btn-scroll-up.display {
    bottom: 50px !important;
    right: 10px !important
}
.form-group input[type=color],
.form-group input[type=date],
.form-group input[type=datetime-local],
.form-group input[type=datetime],
.form-group input[type=email],
.form-group input[type=month],
.form-group input[type=number],
.form-group input[type=password],
.form-group input[type=search],
.form-group input[type=tel],
.form-group input[type=text],
.form-group input[type=time],
.form-group input[type=url],
.form-group input[type=week],
.form-group select,
.form-group textarea {
    background: #fff
}
.form-inline .form-group {
    display: inline
}
.form-inline .control-label,
.form-inline .form-group {
    margin-bottom: 0;
    vertical-align: middle
}
input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
textarea {
    border-radius: 0 !important;
    color: #858585;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    padding: 5px 4px 6px;
    font-size: 14px;
    font-family: inherit;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition-duration: .1s;
    transition-duration: .1s
}
input {
    height: 38px;
    padding-top: 1px;
    margin-right: 10px
}
.navbar.fixed {
    position: fixed;
    width: 100%;
    z-index: 2000;
    top: 0
}
.navbar .navbar-brand {
    padding: 0
}
.header {
    border: none
}
#top-menu,
#top-menu>ul.navbar-nav {
    margin-top: 3px;
    margin-left: 15px;
    margin-bottom: 0
}
#top-menu>ul.nav,
.top-menu {
    line-height: 45px;
    height: 45px;
    padding: 0;
    position: relative;
    float: left
}
.top-menu>li,
div#top-menu>ul.navbar-nav>li {
    display: inline-block;
    border: none
}
#top-menu>ul.nav>li>a,
.top-menu>li>a {
    color: #fff;
    display: block;
    line-height: inherit;
    text-align: center;
    height: 90%;
    width: auto;
    min-width: 50px;
    padding: 0 4px;
    position: relative;
    margin: 0 4px;
    font-size: 16px;
    text-decoration: none
}
ul.sub-menu {
    position: absolute;
    background-color: #fafafa;
    width: 283px;
    display: none;
    margin-left: 5px;
    border-left: 3px solid #ffb752
}
ul.sub-menu li {
    list-style: none;
    margin: 0 10px;
    float: none;
    border: none;
    border-bottom: 1px solid #e1e1e1
}
ul.sub-menu li a {
    padding: 5px 0
}
#top-menu ul li:hover>ul {
    display: block
}
.teaser-img img {
    width: 100%;
    max-width: 100%;
    height: auto
}
.teaser-text h5 {
    text-align: center;
    color: #3a3a3a
}
.widget-box {
    border-radius: 6px
}
.widget-header {
    border-radius: 4px 4px 0 0
}
.widget-color-orange>.widget-header {
    color: #fff !important
}
.widget-body {
    border-radius: 0 0 6px 6px
}
.price-table .price {
    font-size: 22px;
    line-height: 20px;
    height: 28px;
    text-align: center;
    color: #555
}
.price-table .widget-color-blue {
    padding-bottom: 20px;
    margin-top: -10px
}
.price-table .widget-header {
    height: 45px;
    padding-top: 7px
}
a.scrollTo {
    position: absolute;
    bottom: 20px;
    left: 49%;
    font-size: 70px;
    color: #FFF;
    animation: bounce .5s infinite alternate;
    -webkit-animation: bounce .5s infinite alternate;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out
}
.features small {
    margin-top: 20px;
    text-transform: none;
    font-style: italic;
    clear: both;
    display: block
}
.cta,
.testimonials h3 {
    text-transform: uppercase
}
.features-list.small h3 {
    color: #0b87c9
}
.features-list.small p {
    padding-bottom: 0
}
.b h3 {
    color: #222
}
.price small {
    display: inline
}
.testimonials p {
    color: #222;
    font-size: 24px;
    font-weight: 100;
    font-style: italic;
    line-height: 1.6em;
    margin: 0 auto;
    text-align: center
}
.testimonials h3 {
    font-size: 20px;
    color: #e95e5a;
    font-weight: 600;
    margin: 1.5em 0;
    text-align: center
}
i.icon-120,
span.icon-120,
.icon-120 span {
    font-size: 120px !important;
    padding: 30px;
    border-radius: 100%;
    color: #fff!important
}
.icon-main-bg span {
    background: #0b87c9!important
}
.icon-com-bg span {
    background: #d53f40!important
}
.icon-sub-bg span {
    background: #fbaf3f!important
}
.cta,
a.social:hover {
    color: #1b87c9
}
div img.bounce,
.bounce img {
    max-width: 100%!important;
    height: auto
}
.cta,
.try {
    font-size: 18px
}
.dc-head-icon>i,
.dc-head-icon>span {
    display: inline-block
}
.try {
    padding-right: 20px
}
.mt-50 {
    margin-top: 50px !important
}
.mt-30 {
    margin-top: 30px !important
}
.mt-20 {
    margin-top: 20px !important
}
.mt-10 {
    margin-top: 10px !important
}
.pt-30 {
    padding-top: 30px!important
}
.pt-20 {
    padding-top: 20px!important
}
.pt-10 {
    padding-top: 10px!important
}
.pt-15 {
    padding-top: 15px!important
}
.pd-15 {
    padding-top: 15px;
    padding-bottom: 15px
}
.pd-5 {
    padding-top: 5px;
    padding-bottom: 5px
}
.pd-10 {
    padding-top: 10px;
    padding-bottom: 10px
}
.form-group input {
    border-radius: 3px !important
}
input.lg {
    height: 42px
}
input.register {
    border-color: #ffb752
}
#top-menu li.current-menu-item,
.top-menu>li.active,
.top-menu>li:focus,
.top-menu>li:hover {
    border-bottom: 2px solid #fff !important
}
.top-menu>li>a:focus,
.top-menu>li>a:hover {
    background: 0 0 !important
}
.top-reg {
    margin-top: 10px
}
.top-reg a {
    color: #fff;
    margin-right: 20px
}
.full-block {
    width: 100%;
    float: left;
    clear: both
}
.main-color {
    color: #0b87c9
}
.main.main-bg,
.navbar,
.main-bg {
    background: #0b87c9
}
.main-tint1 {
    background: #a7dff8
}
.sub-bg {
    background: #fbaf3f
}
.sub-tint1 {
    background: #fcdbb1
}
.com-tint1 {
    background: #f1aa95
}
.com-bg {
    background: #d53f40
}
.price {
    color: #fff;
    padding: 12px;
    border-radius: 6px
}
.device h3 {
    font-size: 18px
}
.device ul {
    color: #777
}
.features h4 {
    margin: 0
}
.img-banner {
    padding: 4em 0 0;
    position: relative
}
.img-banner-info {
    float: left;
    width: 45%;
    margin-top: 25px
}
.img-banner-info h1 {
    font-size: 2.1em;
    font-weight: 100;
    color: #fff;
    line-height: 1.2em
}
.img-banner-info h1 span {
    font-weight: 700
}
.img-banner-info h3 {
    font-size: 22px;
    font-weight: 200;
    color: #fff;
    line-height: 1.3em;
    margin: 35px 0
}
.dc-head h3,
.features h2 {
    font-weight: 600;
    text-transform: uppercase
}
.img-banner-pic {
    float: right
}
.img-banner-pic img {
    margin-bottom: -5px
}
.features-list {
    float: left;
    display: block;
    margin-top: 30px
}
.features h2 {
    color: #8a8a8a;
    font-size: 1.9em;
    margin-bottom: 2%;
    text-align: center;
    line-height: 1.3em
}
.features p {
    color: #3a3a3a;
    font-size: 18px;
    line-height: 1.5em;
    text-align: center;
    margin: 0 auto
}
.slider-image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2
}
.slider-image-wrapper {
    margin: 0 auto;
    z-index: 2;
    padding: 70px 20px 70px 20px;
    max-width: 1167px
}
.slider-image-overlay.slider-image-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #aaa
}
div.center a.btn {
    margin-bottom: 30px
}
img.fize-full,
.col-md-3 img,
.col-sm-6 img {
    max-width: 100%;
    height: auto
}
textarea.content-area {
    height: 120px
}
input.content {
    height: 40px
}
input {
    font-size: 16px !important
}
.right {
    text-align: right
}
.footer-content,
.text-left p {
    text-align: left
}
.footer-content>div>div {}.dc-head h3 {
    color: #1a1a1a;
    font-size: 25px
}
h3.main-color: #0b87c9;
.dc-head p {
    font-size: 16px;
    padding: .5em 0;
    color: #646464;
    width: 100%;
    line-height: 1.6em
}
.more-ver {
    clear: both;
    padding-top: 30px;
    padding-bottom: 30px
}
.grey {
    background: #f4f4f4
}
.grey {
    color: #777!important
}
.dark-grey {
    background: #444;
    color: #fff !important
}
.black {
    background: #202732;
    color: #fff
}
.light-blue {
    background: #61bfec
}
h3>a.rsswidget {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 5px
}
h3>a.rsswidget>img {
    display: none
}
#footer_3>h3 {
    margin-top: 10px
}
.footer {
    clear: both;
    padding: 20px 0;
    height: auto
}
.footer-content a {
    display: block;
    font-size: 14px;
    color: #fff;
    padding: 0 0 5px
}
.footer-content ul {
    margin-left: 3px
}
.footer-content ul li {
    border: none;
    list-style: none
}
ol,
ul {
    margin: 0 0 10px 25px;
    padding: 0
}
.customer h2 {
    color: #fff
}
.customer .comment {
    color: #fff;
    font-style: italic
}
.customer .users {
    color: #fff;
    font-weight: 700
}
.no-skin .navbar .navbar-toggle,
.no-skin .navbar .navbar-toggle:focus,
.no-skin .navbar .navbar-toggle:hover {
    background: 0 0
}
a.social {
    text-decoration: none;
    float: none;
    display: inline-block;
    padding-right: 15px
}
.btn-primary {
    background-color: #0b87c9 !important
}
.vissible-xs {
    display: none
}
.small .dc-head h3 {
    text-transform: none;
    font-size: 24px
}
.tab-content {
    border: none
}
.step .title {
    text-align: center;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 300;
    margin-top: 0;
    float: none
}
.features .number,
.step .title .text,
.toast-title,
p.suno-sale,
p.users {
    font-weight: 700
}
.sub-title {
    font-style: italic;
    font-size: 22px
}
.timeline-style2 .timeline-indicator {
    font-size: 0;
    height: 12px;
    line-height: 12px;
    width: 12px;
    border-width: 1px !important;
    background-color: #FFF !important;
    position: absolute;
    left: 85px;
    top: 3px;
    opacity: 1;
    border-radius: 100%;
    display: inline-block;
    padding: 0
}
.timeline-info {
    float: left;
    width: 60px;
    text-align: center;
    position: relative
}
.timeline-style2 .timeline-date {
    display: inline-block;
    width: 72px;
    text-align: right;
    margin-right: 25px;
    color: #777
}
.features .number {
    width: 90px;
    height: 58px;
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    text-align: center;
    background: #0b87c9;
    border: 5px solid #1c87c9;
    color: #fff;
    margin: 0 auto 30px;
    padding-top: 30px;
    font-size: 26px;
    font-family: arial, sans-serif
}
.carousel-inner > .item > a > img,
.carousel-inner > .item > img,
.prod ul.nav-tabs {
    margin: 0 auto
}
.step .title .text {
    color: #f19180;
    font-size: 16px
}
.widget_newsletterwidget {
    background: #0b87c9;
    color: #fff;
    border-radius: 8px;
    padding: 5px 20px 10px
}
.widget_newsletterwidget input,
.widget_newsletterwidget input[type="submit"] {
    padding: 5px 9px 3px 9px !important;
    font-size: 16px !important;
    height: 40px !important;
    width: 100% !important;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: none
}
.main-border {
    border-bottom: 2px dashed #0b87c9
}
.half-left,
.half-right {
    max-width: 550px;
    width: 100%
}
.half-left {
    float: right;
    padding-bottom: 20px
}
.half-right {
    float: left
}
.widget_newsletterwidget input[type="submit"] {
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
    color: #fff;
    background-color: #ffb752;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: none;
    font-weight: 700;
    height: 36px;
    padding: 4px 16px
}
.carousel-indicators li {
    background: #999
}
.carousel-indicators .active {
    background: #333
}
.nav-tabs>li.active>a,
.navtabs>li.active>a:focus,
.navtabs>li.active>a:hover {
    color: #0b87c9
}
.carousel-control {
    background: 0 0 !important
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .icon-prev {
    color: #ccc
}
.prod ul.nav-tabs li {
    float: none;
    display: inline-block
}
.bg-slide {
    background: url(/wp-content/themes/sunovn/images/ipad1.png) center no-repeat;
    background-size: 737px 570px;
    padding-top: 62px;
    height: 576px
}
.pr-10 {
    padding-right: 10px
}
.pr-5 {
    padding-right: 5px
}
.faq-question {
    font-style: italic;
    color: #0b87c9
}
.btn-timeline {
    border-color: #abbac3 !important;
    border-radius: 100% !important
}
.text-timeline {
    font-size: 10pt
}
.panel-first-child h3 {
    margin-top: 0
}
@media(max-width:1024px) {
    .img-banner-info, .web-inner {
        width: 922px;
        text-align: center
    }
    .img-banner-info {
        margin-top: 0
    }
    div.img-banner {
        float: left
    }
    .img-banner .img-banner-pic {
        float: none
    }
    .sm-50 img,
    .sm-50>img {
        max-width: 420px !important;
        height: auto
    }
    .sm-100 img,
    .sm-100>img {
        max-width: 922px !important
    }
    .mt-sm-10 {
        margin-top: 10px
    }
    .fashion.img-banner-info {
        width: 100% !important;
        height: auto
    }
}
@media(max-width:824px) {
    .contact-wrap {
        width: 95%;
        margin: 0 auto
    }
    .img-banner-info,
    .web-inner {
        width: 100%;
        text-align: center
    }
    .img-banner-info ul {
        list-style: none
    }
    .img-banner-info ul,
    .img-banner-info div,
    .img-banner-info h4,
    .img-banner-info h1 {
        text-align: center!important
    }
    .img-banner-pic {
        float: none
    }
    .img-banner-pic img {
        max-width: 100%;
        height: auto
    }
    .hidden-sm {
        display: none
    }
    label.title {
        width: 140px
    }
    a.navbar-brand>img {
        max-height: 45px;
        max-width: 118px
    }
    .mt-50 {
        margin-top: 40px !important
    }
    .sm-100 img,
    .sm-50 img,
    .sm-50>img {
        max-width: 100% !important;
        height: auto
    }
    .img-banner {
        padding-top: 2em
    }
    carousel-inner>.item>img {
        width: 580px
    }
    .bg-slide {
        background-size: 711px 549px;
        padding-top: 61px;
        height: 555px
    }
    label.try {
        display: block
    }
    input.form-control {
        width: 400px;
        display: inline
    }
    .col-sm-6,
    .dc-head-icon,
    .dc-head-info {
        display: inline-block
    }
    .mt-sm-10 {
        margin-top: 10px
    }
    .col-sm-6 {
        width: 50%;
        float: left
    }
    .price-table .widget-color-blue {
        margin-top: 5px
    }
    .dc-head-icon {
        margin-right: 30px;
        margin-top: 30px;
        vertical-align: top
    }
    .dc-head-info {}.btn.login {
        padding: 5px;
        margin-top: -3px
    }
}
@media(max-width:640px) {
    .btn-xs-100, .col-sm-6, .col-sm-4, .col-sm-8 {
        width: 100%
    }
    .btn-xs-100 {
        box-sizing: border-box
    }
    .form-inline,
    .form-group,
    .form-inline .form-group {
        display: block
    }
    .padding-xs-10 {
        padding-left: 10px;
        padding-right: 10px
    }
    .img-banner-info ul {
        margin: 0
    }
    .mt-xs-10 {
        margin-top: 10px
    }
    .col-sm-6 {
        display: inline-block
    }
    .btn.login {
        margin-top: 5px
    }
    .bg-slide {
        padding-top: 45px;
        height: 529px
    }
    .col-md-8,
    .col-md-4,
    .col-md-6 {
        width: 100%
    }
    .col-md-8 img {
        max-width: 100%!important;
        height: auto!important
    }
    .btn {
        width: 100%;
        box-sizing: border-box
    }
    .btn-inverse {
        width: auto!important
    }
    div.center a.btn {
        margin-bottom: 10px
    }
    a#btn-scroll-down.btn.btn-primary {
        width: 56px!important
    }
    input.form-control {
        width: 100%
    }
}
@media(max-width:540px) {
    .col-sm-6, .col-sm-4, .col-sm-8, .col-md-4, .col-md-6, .col-md-8, .img-banner-info, .web-inner, input.form-control, label.title, {
        width: 100%
    }
    div.navbar-header.pull-left {
        text-align: center;
        display: inline-block
    }
    .hidden-p,
    .hidden-sm {
        display: none !important
    }
    .dc-head-info,
    .vissible-xs {
        display: inline-block
    }
    .img-banner .img-banner-pic img,
    .sm-100 img,
    .sm-100>img {
        max-width: 100% !important;
        height: auto
    }
    .login {
        margin-top: 3px;
        margin-right: 20px;
        float: right
    }
    a,
    body,
    div,
    p {
        font-size: 16px !important
    }
    span {
        font-size: 1.1em
    }
    h3 {
        font-size: 20px !important
    }
    label.title {
        text-align: left
    }
    .mt-20 {
        margin-top: 0 !important
    }
    .dc-head-info {
        width: 270px
    }
    .form-group {
        margin-bottom: 0 !important
    }
    .bg-slide {
        background: 0 0;
        padding-top: 0;
        border-radius: 4px;
        border: 1px solid #ddd;
        height: auto
    }
    .footer-content {
        text-align: center
    }
    .footer-content a {
        float: none
    }
    .mt-sm-10 {
        margin-top: 0
    }
    .mt-xs-10 {
        margin-top: 10px
    }
    .bg-slide,
    .dc-head {
        height: auto
    }
    .sm-100,
    .sm-50 {
        padding: 0
    }
    .dc-head-icon {
        display: block;
        margin-right: 0;
        margin-top: 0;
        vertical-align: bottom
    }
    .dc-head-info {
        display: block;
        width: 100%
    }
    .dc-head {
        margin-top: 10px
    }
    .features .number {
        width: 55px;
        height: 55px;
        padding-top: 4px
    }
    .header {
        height: auto
    }
    .footer ul,
    .footer h3,
    .footer div {
        text-align: center
    }
}
@media(min-width:769px) {
    .navbar-toggle {
        display: none
    }
    .contact-wrap {
        width: 680px;
        margin: 0 auto
    }
    .slide-wrap {
        width: 600px;
        margin: 0 auto
    }
    .title {
        margin-right: 20px;
        width: 140px;
        text-align: right !important;
        font-size: 20px;
        line-height: 24px;
        float: left;
        margin-top: 5px
    }
    input.content,
    textarea.content-area {
        width: 400px !important
    }
    .form-inline .form-control {
        min-width: 250px
    }
}
@media screen and (max-width: 824px) {
    .hidden-768 {
        display: none !important
    }
}
.fashion.img-banner-info {
    background: rgba(0, 0, 0, .5);
    border-radius: 4px;
    float: left;
    margin-top: 25px;
    padding: 20px 0;
    width: 45%
}
.skylist li {
    float: left;
    width: 25%;
    list-style: none;
    text-align: center
}
.skylist {
    display: block;
    margin: 10px 0;
    overflow: auto;
    width: 100%
}
.skylist.ky-thuat {
    margin-left: 25%
}
.skylist img {
    margin: 0 !important;
    vertical-align: 0 !important
}
.img-banner-pic {
    margin-top: 25px;
    margin-bottom: 25px
}
.carousel-control .icon-only {
    position: absolute;
    top: 50%;
    margin-left: -20px
}
.owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center
}
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
    filter: Alpha(Opacity=100);
    opacity: 1;
    text-decoration: none
}
.owl-theme .owl-controls .owl-page {
    display: inline-block;
    zoom: 1
}
.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 16px;
    height: 16px;
    margin: 5px 0;
    filter: Alpha(Opacity=50);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #ddd;
    border: 2px solid #fff
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    filter: Alpha(Opacity=100);
    opacity: 1;
    background: #08c
}
.owl-theme .owl-controls .owl-page span.owl-numbers {
    height: auto;
    width: auto;
    color: #fff;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px
}
.owl-item.loading {
    min-height: 150px;
    background: url(/wp-content/themes/sunovn/AjaxLoader.gif) center center no-repeat
}
.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}
.owl-carousel,
.owl-carousel .owl-wrapper {
    position: relative;
    display: none
}
.owl-carousel {
    width: 100%;
    margin: 50px 0;
    -ms-touch-action: pan-y
}
.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%
}
.owl-buttons,
.owl-next,
.owl-prev {
    position: absolute
}
.owl-carousel .owl-wrapper-outer.autoHeight {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out
}
.owl-carousel .owl-item {
    float: left
}
.owl-controls .owl-buttons div,
.owl-controls .owl-page {
    cursor: pointer
}
.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent
}
.grabbing {
    cursor: url(/wp-content/themes/sunovn/grabbing.png) 8 8, move
}
.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0)
}
.owl-item {
    padding: 0 20px;
    box-sizing: border-box
}
.img-users {
    border-radius: 64px;
    height: 128px;
    width: 128px
}
p.users {
    color: #0b87c9;
    font-size: 14px;
    text-align: left
}
p.comment {
    font-size: 16px;
    padding: 10px;
    text-align: left;
    color: #646464
}
p.suno-sale {
    margin-top: 10px;
    color: #0b87c9;
    font-size: 16px;
    text-align: center
}
.owl-buttons {
    top: 50%;
    width: 100%
}
.owl-prev,
.owl-next {
    background: #CCC;
    color: #fff;
    border-radius: 100%;
    padding: 10px 12px
}
.owl-prev {
    left: 0
}
.owl-next {
    right: 0
}
div.main.full-block.main-bg {}aside.widget-area ul {
    margin-left: 0px
}
aside.widget-area ul li {
    border: none;
    margin-bottom: 10px;
    list-style-type: square;
    margin-left: 20px
}
.aligncenter {
    display: block;
    margin: auto
}