<div class="panel panel-default">
    <div class="panel-heading font-bold">
        {{ form.title }}        
    </div>
    <div class="panel-body">
        <form class="form-horizontal form-validation" name="packageForm" method="post" ng-if="form.allLoaded" novalidate>
            <div ng-repeat="data in form.fields">
                <render-form-elements data="data"></render-form-elements>
                <div class="line line-dashed b-b line-lg pull-in" ng-if="data.type != 'hidden'"></div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <h3 style="text-align:right">Package details
                       
                        <button type="button" class="btn btn-primary" ng-click="adddetails()" >Add option</button>
                    </h3>
                    <label class="col-sm-2 control-label" style="">Option name</label>
                    <div class="col-sm-10">
                        <input type="text" id="option_name" class="form-control  ng-pristine ng-valid ng-touched">
                    </div>
                    <p class="clear:both">&nbsp;</p>
                    <label class="col-sm-2  control-label" style="">Option price</label>
                    <div class="col-sm-10">
                        <input type="number" id="option_price" value="0" class="form-control  ng-pristine ng-valid ng-touched" style="">
                    </div>
                    <p class="clear:both">&nbsp;</p>
                    <br />
                    <br />
                    <table id="option_list" class="col-sm-offset-2" style="width:100%;border:1px sold">
                        <tr style="height:50px">
                            <th style="width:30%">Name</th>
                            <th style="width:20%">Price</th>
                            <th style="width:20%">&nbsp;</th>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                    <button type="reset" class="btn btn-default" ng-click="$state.reload();">Reset</button>
                    <button type="submit" class="btn btn-primary" ng-click="save()" ng-disabled="packageForm.$invalid">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>
