<!-- list -->
<ul class="nav">
    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span translate="aside.nav.HEADER">Navigation</span>
    </li>
    <li ui-sref-active="active">
        <a href="#app/dashboard">
            <i class="glyphicon glyphicon-stats "></i>
            <span class="font-bold" translate="aside.nav.DASHBOARD">Dashboard</span>
        </a>
    </li>    
    <li>
        <a href="#app/categories/list">
            <i class="glyphicon glyphicon-th-list "></i>
            <span class="font-bold" translate="aside.nav.PRODUCTCATEGORY">Category</span>
        </a>
    </li>
    <li>
        <a href="#app/posts/list">
            <i class="glyphicon glyphicon-file"></i>
            <span class="font-bold" translate="aside.nav.POST">Post</span>
        </a>
    </li>
<!--    <li>
        <a href="#app/contacts/list">
            <i class="glyphicon glyphicon-envelope"></i>
            <span class="font-bold" translate="aside.nav.CONTACTS">Contacts request</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a href="#app/customers/list">
            <i class="glyphicon icon-drawer icon text-info-dker"></i>
            <span class="font-bold" translate="aside.nav.CUSTOMERS">Customers</span>
        </a>
    </li> 
    <li ui-sref-active="active">
        <a href="#app/banners/list">
            <i class="glyphicon icon-film icon text-info-dker"></i>
            <span class="font-bold" translate="aside.nav.BANNER">Banner</span>
        </a>
    </li>   
    -->
    <li>
        <a href="#app/menus">
            <i class="glyphicon glyphicon-align-justify"></i>
            <span class="font-bold" translate="aside.nav.MENUS">Menu</span>
        </a>
    </li>
    <li>
        <a href="#app/configures/list">
            <i class="glyphicon glyphicon-align-justify"></i>
            <span class="font-bold" translate="aside.nav.CONFIGURE">Configures</span>
        </a>
    </li>
<!--    <li>
        <a href="#app/pricelists/list">
            <i class="glyphicon glyphicon-align-justify"></i>
            <span class="font-bold" translate="aside.nav.PRICELIST">PRICELIST</span>
        </a>
    </li>
    <li>
        <a href="#app/packages/list">
            <i class="glyphicon glyphicon-align-justify"></i>
            <span class="font-bold" translate="aside.nav.PACKAGESDATAS">PACKAGESDATAS</span>
        </a>
    </li>
    
    <li>
        <a href="#app/comments/list">
            <i class="glyphicon glyphicon-align-justify"></i>
            <span class="font-bold" translate="aside.nav.COMMENTS">COMMENTS</span>
        </a>
    </li>
    <li>
        <a href="#app/socials/list">
            <i class="glyphicon glyphicon-align-justify"></i>
            <span class="font-bold" translate="aside.nav.SOCIALS">SOCIALS</span>
        </a>
    </li>
    <li>
        <a href="#app/jobs/list">
            <i class="glyphicon glyphicon-align-justify"></i>
            <span class="font-bold" translate="aside.nav.CAREERS">CAREERS</span>
        </a>
    </li>    -->
</ul>
<!-- / list -->
