<div ng-controller="MenuController">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">{{ title }}</h1>
        <a class="btn btn-success pull-right backend-action-bt" ng-click="reset()">
            <span>{{ button_add.title }}</span>
        </a>
    </div>
    <div class="wrapper-md" ng-if="menu.allLoaded">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Menu Order
                </div>
                <div class="panel-body">
                      <tabs>
                          <pane title="Header">
                                 <div ui-refresh="reload" class="dd" id="list_header">
                                    <ol class="dd-list" nestable="menu.header" ng-model="menu.tree">
                                    </ol>
                                </div>
                                <input type="hidden" id="store_header" value="" ng-model="menu.serialize.header">
                          </pane>
                          <pane title="Footer">
                                 <div ui-refresh="reload" class="dd" id="list_footer">
                                    <ol class="dd-list" nestable="menu.footer" ng-model="menu.tree">
                                    </ol>
                                </div>
                                <input type="hidden" id="store_footer" value="" ng-model="menu.serialize.footer">
                          </pane>
                      </tabs>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9 text-right">
                                <button type="submit" class="btn btn-info" ng-click="reorder()">Re-Order</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="height:100%; margin-bottom: 20px;">
            <div class="panel panel-info" >
                <div class="panel-heading">
                    Menu Info
                </div>
                <div class="panel-body">
                    <form name="form" ng-submit="save()" method="POST" class="form-horizontal" role="form" id="menu-info">
                        <div class="form-body">
                            <input type="hidden" ng-model="menu.form.id" value="{{ menu.form.id }}">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Name</label>
                                <div class="col-md-9">
                                    <input type="text" ng-model="menu.form.name" value="{{ menu.form.name }}" class="form-control" name="name" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Group</label>
                                <div class="col-md-9">
                                    <select class="form-control" ng-model="menu.form.group_name" ng-change="changeGroup(menu.form.group_name)" >
                                        <option value="header">Header Menu</option>
                                        <option value="footer">Footer Menu</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Category</label>
                                <div class="col-md-9">
                                    <select class="form-control" ng-model="menu.form.caregory_id" id="category_id" name="category_id">
                                        <option  ng-selected="menu.form.category_id == object.value" ng-repeat="object in categories" value="{{object.value}}">{{object.text}}</option>                 
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Project list</label>
                                <div class="col-md-9">
                                    <select class="form-control" ng-model="menu.form.pricelist_id" id="pricelist_id" name="pricelist_id">
                                        <option  ng-selected="menu.form.pricelist_id == object.value" ng-repeat="object in pricelist" value="{{object.value}}">{{object.text}}</option>                 
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Link</label>
                                <div class="col-md-9">
                                    <div class="input-inline">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                        {{ baseURL }} /
                                                        </span>
                                            <input type="text" class="form-control" ng-model="menu.form.link" value="{{ menu.form.link}}" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Parent Menu</label>
                                <div class="col-md-9">
                                    <select class="form-control" ng-model="menu.form.parent_id">
                                    <option ng-selected="menu.form.parent_id == parent.id" ng-repeat="parent in menu.parentOptions" value="{{parent.id}}">{{parent.name}}</option>    
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Order</label>
                                <div class="col-md-9">
                                    <div id="order_spinner">
                                        <div class="input-group input-small">
                                            <input type="number" required class="form-control" ng-model="menu.form.order_no" value="{{ menu.form.order_no }}" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Display html</label>
                                <div class="col-md-9">
                                    <div id="order_spinner">
                                        <div class="input-group input-small">
                                            <input type="checkbox" ng-model="menu.form.displayhtml" value="{{ menu.form.displayhtml }}" ng-checked="menu.form.displayhtml" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Image</label>
                                <div class="col-md-9">
                                    <img class="" style="max-width: 200px;max-height:100px" ngf-src="data.file || 'http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image'" id="image_display" src="{{ menu.form.image }}">

                                    <input type="file" name="image" id="image" accept="image/*" ngf-validate="{size: {max: '2MB', min: '10B'} }" class="ng-pristine ng-invalid ng-invalid-required ng-touched" ng-model="menu.form.image" onchange="angular.element(this).scope().uploadImage(this)" >
                                </div>                                
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Contents</label>
                                <div class="col-md-9">     
                                    <textarea cols="80" id="contents" name="contents" rows="10" ng-model="menu.form.contents">
                                        {{ menu.form.contents }} 
                                    </textarea>
                                    
                                </div>
                            </div>                          
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn btn-info" ng-disabled="form.$invalid">Submit</button>
                                    <button type="reset" class="btn default">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
