<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="table-responsive">
            <table ui-grid="gridOptions" ui-grid-pagination ui-grid-resize-columns>
            </table>
        </div>
    </div>
</div>